.btn {
    cursor: pointer;
    font-size: 1.125rem;
    outline: none;
    border: none;
    color: var(--clr-neutral-100);
    padding: 0.5rem 2.5rem;
    background-color: var(--clr-accent-blue-light);
    display: block;
    max-width: max-content;
    font-weight: 600;
    min-width: 18rem;
    text-align: center;
    text-transform: uppercase;
    border-radius: 100vmax;
    letter-spacing: 1px;

    &.center {
        margin-inline: auto;
    }

    &:hover,
    &:focus {
        transition: filter 300ms linear;
        will-change: filter;
        filter: brightness(0.85);
    }

    @media (max-width: 1200px) {
        display: none;
    }
}

.section-title {
    font-size: clamp(1.85rem, 3.5vw, 2.25rem);
    line-height: 1.25;
    max-width: var(--width, unset);
    color: var(--clr-accent-blue-light);

    &.center {
        margin-inline: auto;
        text-align: center;
    }
}

.scroll-btn {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    max-width: max-content;
    margin-inline: auto;
    cursor: pointer;

    > * {
        display: inline-block;
        line-height: 18px;
        font-size: 13px;
        font-weight: normal;
        color: var(--clr-neutral-100);
    }

    .mouse {
        position: relative;
        display: block;
        width: 30px;
        height: 45px;
        margin: 0 auto 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 2px solid var(--clr-neutral-100);
        border-radius: 23px;

        > * {
            position: absolute;
            display: block;
            top: 29%;
            left: 46.1%;
            width: 3px;
            height: 10px;
            margin: 0px 0 0 0px;
            background: var(--clr-neutral-100);
            border-radius: 5px;
            -webkit-animation: ani-mouse 2s linear infinite;
            -moz-animation: ani-mouse 2s linear infinite;
            animation: ani-mouse 2s linear infinite;
        }
    }

    @-webkit-keyframes ani-mouse {
        0% {
            opacity: 1;
            top: 29%;
        }
        15% {
            opacity: 1;
            top: 50%;
        }
        50% {
            opacity: 0;
            top: 50%;
        }
        100% {
            opacity: 0;
            top: 29%;
        }
    }
    @-moz-keyframes ani-mouse {
        0% {
            opacity: 1;
            top: 29%;
        }
        15% {
            opacity: 1;
            top: 50%;
        }
        50% {
            opacity: 0;
            top: 50%;
        }
        100% {
            opacity: 0;
            top: 29%;
        }
    }
    @keyframes ani-mouse {
        0% {
            opacity: 1;
            top: 29%;
        }
        15% {
            opacity: 1;
            top: 50%;
        }
        50% {
            opacity: 0;
            top: 50%;
        }
        100% {
            opacity: 0;
            top: 29%;
        }
    }
}

.marker {
    --text-highlight-color: var(--clr-accent-blue-light);
    position: relative;
    padding: 0.025rem;
    background-position: -100%;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 50%, var(--text-highlight-color, #fe9) 0);
    background-size: 200%;
    background-position: 0;
    transition: background-position 1s ease;
}

.marker.active {
    background-position: -100%;

    color: var(--clr-neutral-700);
}
