.label-float {
    position: relative;
    padding-top: 13px;
}

.label-float input,
.label-float select {
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline: none;
    min-width: 250px;
    padding: 15px 20px;
    font-size: 16px;
    transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -webkit-appearance: none;
    background-color: #ffffff !important;
    border-radius: 100vmax;
}

.label-float input:focus,
.label-float select:focus {
    border: 1px solid var(--clr-accent-blue-light);
}

.label-float input:focus label {
    border: 1px solid var(--clr-accent-blue-light);
}

.label-float input::placeholder {
    color: transparent;
}

.label-float label {
    pointer-events: none;
    position: absolute;
    top: calc(50% - 8px);
    left: 15px;
    transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    background-color: transparent;
    padding: 5px;
    color: var(--clr-placeholder);
    font-size: 0.9rem;

    span {
        color: #de241b;
    }
}

.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label {
    font-size: 13px;
    top: 0;
    color: var(--clr-accent-blue-light);
    background-color: #ffffff;
    border-radius: 100vmax;
    padding: 5px 20px 0px 20px;
    left: 20px;
}

label.active {
    font-size: 13px;
    top: 0;
    color: var(--clr-accent-blue-light);
    background-color: #ffffff;
    border-radius: 100vmax;
    padding: 5px 20px 0px 20px;
    left: 20px;
}
